#idCard {
	margin-bottom: 15px;
}

#comments {
	max-height: 165px;
}

#contactHeader {
	color: white;
}

#profileImage {
	margin: 5px;
	border: 2px solid black;
}

#comments {
	overflow: auto;
}

#contactEdit, #contactDelete {
	float: right;
	margin: 0px 10px;
}

#contactbuttons {
	float: right;
}

#contactGroup {
	margin: 0px;
}